.login-form {
  // 记住登陆状态部分
  .remember {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    a {
      font-size: 14px;
      color: $aoColor2;
    }

    .help {
      display: inline-flex;
      align-items: center;

      .el-icon {
        margin-left: 3px;
        vertical-align: middle;
      }
    }
  }

  .code-img {
    width: 100%;
    display: flex;
  }
}