@mixin com-warp {
  background: #fafafa;
  margin: 30px 0 80px;
  padding: 35px 30px 0;
  position: relative;
  border-radius: 15px;
}

@mixin com-title {
  position: absolute;
  width: 282px;
  height: 34px;
  left: 110px;
  top: -20px;
  z-index: 1;
  color: $white;
  font-size: 20px;
  padding-left: 45px;
  line-height: 34px;
  font-style: italic;
  -webkit-font-smoothing: subpixel-antialiased;
}