.news-warp {
  @include com-warp;

  > h2 {
    @include com-title;
    background: url('../../../assets/news_title_headline.png') no-repeat center center;
    background-size: 282px auto;
  }

  .page-container {
    width: 100%;
    display: flex;
    justify-content: center;

    :deep(.pagination-container) {
      background: transparent;
    }
  }
}