.home-container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  min-width: 960px;

  // 大背景
  .visual {
    height: 720px;
    background: url("../src/assets/main_visual2.jpeg");
    background-size: cover;
    position: relative;
    background-position: center top !important;
    z-index: 0;

    .notify-rule {
      width: $g_width;
      height: 260px;
      position: absolute;
      bottom: -50px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: space-between;
    }
  }
}