header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 100;

  .logo {
    position: absolute;
    height: 59px;
    z-index: 120;
    top: 20px;
    left: 15px;
  }

  .el-menu {
    width: 100%;
    justify-content: right;
    padding: 0 25px;
    border-bottom: none;
    background: linear-gradient(rgba( 0, 0, 100, 0.4), rgba(0, 0, 100, 0));

    .el-menu-item {
      color: #fff !important;
      border-bottom: none;
    }
    .el-menu-item.is-active {
      border-bottom: none;
    }
  }

  // 鼠标经过 menu-item 时
  .el-menu--horizontal .el-menu-item:not(.is-disabled):hover {
    font-weight: 700;
    background: linear-gradient(rgba(155, 99, 238, 0.6), rgba(155, 99, 238, 0));
  }
  // menu-item 选中后
  .el-menu--horizontal > .el-menu-item.is-active {
    background: linear-gradient(rgba(155, 99, 238, 0.6), rgba(155, 99, 238, 0));
    font-weight: 700;
  }

  .choose-lang-title {
    font-size: 22px;
    color: #222;
    font-weight: inherit;
    margin: 0;
  }

  .choose-lang-container {
    border-top: 1px solid rgb(235, 235, 235);
    padding: 0 20px;
  }

  .lang-list {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;

    .lang-list-item {
      width: 24%;
      height: 56px;
      padding: 8px 15px;
      vertical-align: top;
      border-radius: 8px;

      &:hover {
        background-color: #f7f7f7;
      }

      .lang-name {
        color: #222;
      }

      .lang-country {
        color: #717171;
      }
    }

    .choose-lang-active {
      border: 1px solid $aoColor2;
    }
  }
}