<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.kuro.bidding.mapper.UserMapper">

    <select id="selectUserByMobile" resultType="org.kuro.bidding.model.entity.User">
        select id,
               company,
               password,
               avatar,
               email,
               mobile,
               org_code,
               status,
               telephone,
               create_time,
               last_login_time,
               last_login_address
        from sys_user
        where mobile = #{mobile};
    </select>

</mapper>