.card-container {
  width: 580px;
  background: rgba(255, 255, 255, .9);
  border-radius: 6px;
  padding: 10px 15px;
  box-shadow: 0 0 7px #0003;
  height: 260px;

  ul {
    li {
      height: 40px;
      line-height: 40px;
      padding-right: 15px;

      a {
        width: 100%;
      }
    }
  }

  :deep(.el-link__inner) {
    display: block;
    width: 100%;
    @include line-text-overflow;
  }
}